.main {
  background-color: var(--white);
  padding: var(--mainContent-padding);
  border-radius: var(--main-radius);
  max-width: 73.6rem;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    padding-top: 0;
  }
}
